.slideshow{
    margin: 0;
    padding: 0;
    height: 60vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    overflow: auto;
    /*background-color:whitesmoke ;*/

}

.slider{
    width: 600px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width:500%;
    height: 500px;
    display: flex;
}

.slides input{
display: none;   
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 600px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 600px;
    margin-top: -40px;
    display: flex;
    justify-content: center ;
}

.manual-btn{
    border: 2px solid #047aed;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background: #1091d6;
}

#slidebtn1:checked ~ .first{
    margin-left: 0;
}

#slidebtn2:checked ~ .first{
    margin-left: -20%;
}

#slidebtn3:checked ~ .first{
    margin-left: -40%;
}

#slidebtn4:checked ~ .first{
    margin-left: -60%;
}

/* Auto move */
.navigaton-auto{
    position:absolute;
    display: flex;
    width: 600px;
    justify-content: center;
    margin-top: 460px;
}

.navigaton-auto div{
border: 2px solid #1091d6;
padding: 5px;
border-radius: 10px;
transition: 1s;
}

.navigaton-auto div:not(:last-child){
    margin-right: 40px;
}

#slidebtn1:checked ~ .navigaton-auto .auto-btn1{
    background: #047aed;
}
#slidebtn2:checked ~ .navigaton-auto .auto-btn2{
    background: #047aed;
}
#slidebtn3:checked ~ .navigaton-auto .auto-btn3{
    background: #047aed;
}
#slidebtn4:checked ~ .navigaton-auto .auto-btn4{
    background: #047aed;
}

/* About section */

div.about_us_section{
   /* background: black; */
    color: white;
    overflow: auto;
    height: auto;   
}

.about_us_container{
    /*max-width: 950px;
    margin:0 auto;
    overflow: auto;
    padding: 0 30px;
    */
    align-items: center;
    background: black;
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw;
    width: 50%;
    border-radius: 10px;
    margin:auto;
    overflow: auto;
    justify-self:center;
}

p.about_paragraph{
    margin: 5% 10%;
    font-size: 1.1em;
    overflow:auto;
}

.about_header{

    margin: 10px;
    margin-top: 20px;
    background-color: white;
    /*background-color:#1091d6;*/
    /*background-image: linear-gradient(to top, #1091d6 0%, rgb(255, 255, 255) 100%);*/
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;

}

.background-color{
    /*background:linear-gradient(45deg, black, #047aed);*/
    background: linear-gradient(-45deg, black, #002240, #003366, #1091d6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

